<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/purchase.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h1 class="text-center mb-4">주문내역</h1>
    <!-- 주문내역 비었을 때 표시될 메시지 -->
    <p id="empty-purchase-message" class="text-center text-muted" style="display: none;">
        주문 내역이 없습니다.
    </p>

    <div class="row" th:each="product : ${orderItems}">
        <div class="col card m-4">
            <div class="row card-body">
                <div class="col-3">
                    <img th:src="|https://cdn.rosmontis.shop/${product.productImage}|" class="card-img" alt="상품 이미지"> <!-- 상품 이미지 URL -->
                </div>

                <div class="col">
                    <div class="row card-title">
                        <a class="col card-text" th:href="@{/product/{id}(id=${product.itemId})}" th:text="${product.itemName}">상품이름</a>
                    </div>
                    <div class="row">
                        <p class="col card-text"><strong th:text="'가격: ' + ${product.price} + '원'">1000원</strong></p>
                        <p class="col card-text"><strong th:text="'개수: ' + ${product.quantity} + '개'">1개</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 card mt-4 mb-4" id="purchase-summary">
            <div class="card-body">
                <h4 class="card-title">평점 입력</h4>

                <!-- 별점 선택 폼 -->
                <div class="rate" th:id="|${product.orderId}-${product.itemId}-rate|">
                    <input type="radio" th:id="|${product.orderId}-${product.itemId}-rate-5|" th:name="|${product.orderId}-${product.itemId}-rate|" value="5" />
                    <label th:for="|${product.orderId}-${product.itemId}-rate-5|" title="text">5 stars</label>

                    <input type="radio" th:id="|${product.orderId}-${product.itemId}-rate-4|" th:name="|${product.orderId}-${product.itemId}-rate|" value="4" />
                    <label th:for="|${product.orderId}-${product.itemId}-rate-4|" title="text">4 stars</label>

                    <input type="radio" th:id="|${product.orderId}-${product.itemId}-rate-3|" th:name="|${product.orderId}-${product.itemId}-rate|" value="3" />
                    <label th:for="|${product.orderId}-${product.itemId}-rate-3|" title="text">3 stars</label>

                    <input type="radio" th:id="|${product.orderId}-${product.itemId}-rate-2|" th:name="|${product.orderId}-${product.itemId}-rate|" value="2" />
                    <label th:for="|${product.orderId}-${product.itemId}-rate-2|" title="text">2 stars</label>

                    <input type="radio" th:id="|${product.orderId}-${product.itemId}-rate-1|" th:name="|${product.orderId}-${product.itemId}-rate|" value="1" />
                    <label th:for="|${product.orderId}-${product.itemId}-rate-1|" title="text">1 star</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 50px"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/purchase.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>