<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h1 class="text-center mb-4">장바구니</h1>
    <!-- 장바구니 비었을 때 표시될 메시지 -->
    <p id="empty-cart-message" class="text-center text-muted" style="display: none;">
        장바구니가 비었습니다.
    </p>

    <div class="row">
        <div class="col-9">
            <div class="cart-item card mb-4" th:each="item : ${cartItems}" th:id="|cart-item-${item.itemId}|" th:data-price="${item.price}">
                <div class="row card-body">
                    <div class="col-3">
                        <img th:src="|https://cdn.rosmontis.shop/${item.productImage}|" class="card-img" alt="상품 이미지"> <!-- 상품 이미지 URL -->
                    </div>

                    <div class="col">
                        <div class="row">
                            <h5 class="col card-title">
                                <a class="item-name" th:href="@{/product/{id}(id=${item.itemId})}" th:text="${item.itemName}">상품이름</a>
                            </h5>
                            <div class="col text-right">
                                <button th:onclick="|deleteCartItem(${item.itemId})|" class="btn btn-danger" type="submit">삭제</button>
                            </div>
                        </div>

                        <p class="card-text"><strong th:text="'가격: ' + ${item.price} + '원'">1000원</strong></p>
                        <div class="row">
                            <div class="col col-lg-4 card">
                                <div class="row card-body">
                                    <button class="col btn btn-primary" type="button" th:onclick="|updateCartItem(${item.itemId}, 1)|">+</button>
                                    <p class="col text-center item-quantity" th:text="${item.quantity}">1</p>
                                    <button class="col btn btn-primary" type="button" th:onclick="|updateCartItem(${item.itemId}, -1)|">-</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col card mb-4" id="purchase-summary">
                <div class="card-body">
                    <h4 class="card-title">주문 예상 금액</h4>
                    <p class="card-text">총 상품 가격</p>
                    <p id="total-price" class="card-text">1000원</p>

                    <button th:onclick="buyCart()" class="col mt-4 align-self-end btn btn-primary" type="submit">구매하기</button>
                </div>
            </div>
        </div>
    </div>

    <button th:onclick="clearCart()" class="btn btn-info" type="submit">장바구니 비우기</button>
</div>

<div style="margin-top: 50px"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/cart.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
